# TABLES

In [ ]:
To insert a table  in markdown you follow the following syntax:

In [ ]:
|Name|Age|Basic Salary|
|----|----|----|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|

In [ ]:
Results:

|Name|Age|Basic Salary|
|----|----|----|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|

# How to align the data in the table

In [ ]:
To align you change the syntax of the second row:
|:-:| : central alignment
|-:| : right alignment
|:-| : left alignment

Example:

Right alignment: Cell 1

|Name|Age|Basic Salary|
|-:|-:|-:|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|

Central alignment: Cell 2

|Name|Age|Basic Salary|
|:-:|:-:|:-:|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|

Left alignment: Cell 3

|Name|Age|Basic Salary|
|:-|:-|:-|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|

### Right aligned

|Name|Age|Basic Salary|
|-:|-:|-:|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|

### Centrally aligned

|Name|Age|Basic Salary|
|:-:|:-:|:-:|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|

### Left aligned

|Name|Age|Basic Salary|
|:-|:-|:-|
|Sheila|23|70000|
|Vincent|23|100000|
|Janet|22|62000|